#uicontainer {
    position: absolute;
    right: 0px;

    margin: 10px;
    text-align: right;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#rangeo {
    position: relative;    

    transform: rotate(-90deg);

    width: 300px;
    height: 5px;
    
    padding: 2px;

    transform-origin: 300px 0px;

    margin-right: 40px;
}
  


.btnInfo {
    display: inline-block;

    width: 40px;
    height: 40px;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);

    text-decoration: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    vertical-align: middle;
    border-radius: 5px;
}

.btnDepth {
    display: inline-block;

    width: 80px;
    height: 30px;

    font-size: large;
    font-weight: bold;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);

    text-decoration: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    vertical-align: middle;

    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
}

.titleText {
    font-size: 28px;
    font-weight: bold;
    margin-left: 8px;

    color: white;

    text-shadow: 0px 0px 4px black;
}

.subtitleText {
    font-size: 14px;
    margin-left: 8px;

    color: white;

    text-shadow: 0px 0px 4px black;
}

.info {
    position: absolute;
    left: 0px;
    /*bottom: 50px;*/
    top: 80px;

    width: 300px;
    height: 300px;

    border-radius: 10px;

    pointer-events:none;
}

@media screen and (max-width: 600px) {
    .info {
        opacity: 0.0;
    }
}

@media screen and (orientation: portrait) {
    .info {
        opacity: 0.0;
    }
}